

<h1>Seja Bem-vindo! <%= @name%> </h1>
<h2>Curso: <b> <%= @course %> </b> </h2>

<%= render "menu" %>

<p>
  <b>
    Data:  <%= date_pt_br(Date.current) %>
  </b>
</p>

<p>
  Você está em ambiente de <strong><%= rails_env %></strong>
</p>