<p id="notice"><%= notice %></p>


<fieldset disabled>

  <div class="mb-3">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:description), :class => "form-label"  %>
    <%= text_field_tag nil, @mining_type.description, class:"form-control", placeholder:"Proof Of Woork" %>
  </div>

  <div class="mb-3">
    <%= label_tag nil, @mining_type.class.human_attribute_name(:acronym), :class => "form-label" %>
    <%= text_field_tag nil, @mining_type.acronym,  class:"form-control" %>
  </div>

</fieldset>


<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class: "btn btn-primary-2 m-2" %>
<%= link_to t('links.back'), mining_types_path, class: "btn btn-secondary-2 m-2" %>