<!DOCTYPE html>
<html>
  <head>
    <title>CryptoWallet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <ul class="nav justify-content-end">
     <li class="nav-item ">
        <%= link_to 'Home', root_path, class:"nav-link active .color-baby-blue" %>
      </li>
      <li class="nav-item ">
        <%= link_to 'Português', root_path(locale: 'pt-BR'), class:"nav-link active .color-baby-blue" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Inglês',  root_path(locale: 'en'), class:"nav-link text-white" %>
      </li>
    </ul>
    <%= yield %>
  </body>
</html>
