<p id="notice"><%= notice %></p>

<fieldset disabled>

  <div class="mb-3">
    <%= label_tag nil,  @coin.class.human_attribute_name(:description), :class => "form-label" %>
    <%= text_field_tag nil, @coin.acronym, class:"form-control disabled", placeholder:"Bitcoin" %>
  </div>

  <div class="mb-3">
    <%= label_tag nil, @coin.class.human_attribute_name(:acronym), :class => "form-label" %>
    <%= text_field_tag nil, @coin.description,  class:"form-control", placeholder: "BTC" %>
  </div>

  <div class="mb-3">
    <%= label_tag nil, @coin.class.human_attribute_name(:url_image), :class => "form-label" %>
    <%= text_field_tag nil, @coin.url_image, class:"form-control col-md-2", placeholder:"http://img.ur/bitcoin.png" %>
  </div>

  <div class="mb-3">
    <%= label_tag nil,  @coin.class.human_attribute_name(:mining_type), :class => "form-label" %>
    <%= text_field_tag nil,  @coin.mining_type.description, class:"form-control col-md-2", placeholder:"http://img.ur/bitcoin.png" %>
  </div>

</fieldset>

<%= link_to t('edit.coin'), edit_coin_path(@coin), class: "btn btn-primary-2 m-2" %>
<%= link_to t('back'), coins_path, class: "btn btn-secondary-2 m-2" %>
